module ttp_tor_policy 1.1;

require {
	type tor_t;
	type unreserved_port_t;
	class tcp_socket name_bind;
	class udp_socket name_bind;
}

#============= tor_t ==============
allow tor_t unreserved_port_t:tcp_socket name_bind;
allow tor_t unreserved_port_t:udp_socket name_bind;
